<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Batik Kitchen adalah situs untuk mencari restoran yang ber nuansa kuliner khas nusantara">
    <meta name="theme-color" content="#d6b76c" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-152x152.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="/icons/icon-384x384.png">
    <link rel="apple-touch-icon" href="/icons/icon-512x512.png">
    <title>Batik Kitchen || Menu Tradisional Rasa Internasional</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito" />
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>

    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton"> <i class="icon material-icons-outlined">menu</i></button>
        </div>
        <div class="app-bar__brand">
            <picture>
                <source media="(max-width: 600px)" srcset="/images/heros/logo-bk-small.jpg" type="image/jpeg">
                <img src="/images/heros/logo-bk-large.jpg" alt="Logo Batik Kitchen">
            </picture>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/list-resto"> Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/dianriki/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" id="hero">
        <picture>
            <source media="(max-width: 600px)" srcset="/images/heros/hero-image_4-small.jpg" type="image/jpeg">
            <img src="/images/heros/hero-image_4-large.jpg" alt="hero images">
        </picture>
        <div class="hero__inner">
            <h1 class="hero__title">Menu Tradisional Cita Rasa Internasional</h1>
            <p class="hero__tagline">Mari budayakan makanan khas nusantara dengan menikmati menu masakan Tradisional
                Khas Indonesia</p>
        </div>
    </div>

    <main id="mainContent">
    </main>
    <footer>
        Copyright © 2021 - Batik Kitchen Apps
    </footer>
</body>

</html>